/* navbar */

:root {
    --primary-color:rgb(131, 222, 112);
    --background-color:rgb(255,255,255);
    --font-color-grey:rgba(119, 119, 119, 0.792);
    --font-color-black:rgb(0,0,0);
    --border-color:rgb(235, 231, 231);
}




.navbar-style{
    background-color:var(--primary-color)!important;
}
.set-white{
    background-color: white !important;
}
.reverse{
    display: flex;
    gap:50px;
    justify-content: space-between;
    flex-direction: row-reverse;

}

/* login page */
